.footer {
    position: absolute;
    width: 100%;
    background-color: #f5f5f5;
    padding: 0.5rem;
    text-align: center;
    margin-top: 90vh;
    height: auto;
    bottom: 0;
}

.footer a {
    color: #a5b8d4;
    text-decoration: none;
    font-weight: 600;
}

.footer a:hover {
    text-decoration: underline;
}


.footer-wiq{
    background-color: #333;
    font-size: 2rem;
}

.footer-text {
    color: white;
    font-size: 1.3rem;
    font-weight: 400;
}

.footer-text a{
    color: #4C8DBF;
    font-size: 1.3rem;
    font-weight: 700;
    text-decoration: underline;
}